/* Slideshow container */
.slideshow-container {
    max-width: 18.75em;
    position: relative;
    margin: 1em;
}
.mySlides{
    background-color: #d5ad6e;
    border-radius: 1em;
    margin:2em;
}

.mySlides:hover{
    box-shadow: 0em 0em 1em .15em #000;
    transform: scale(1.1);
    -webkit-transition: width 1s;
    transition: width 1s;
}

/* Next & previous buttons */
.prev, .next {
    top: 65.7%;
    height:2.4em;
    padding: 1em;
    color: #042a3d;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.6s ease;
}
/* Position the "next button" to the right */
.next {
    margin-right: 0;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(255,255,255,0.8);
}
/* Number text (1/3 etc) */
.number-text {
    color: #042a3d;
    font-size: 1rem;
    padding: .4em .9em;
}