div.blog-content{
    height: 10em;
    width: 35%;
    padding: 1em;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
    justify-content: center;
    background-color: #d5ad6e;
    flex-wrap: wrap;

    overflow: hidden;
}

div.blog-content :hover{}

div.blog-holder{
    flex-wrap: wrap;
    display: flex;
    background-color:#042a3d;
}


a.blog-comment{
    color: #042a3d;
}

img.blog-pic-description{
    margin-top:1em;
    max-width: 30%;
    height: auto;
}